.footer{
    background-color: rgba(72, 167, 172, 0.873);
}

.footer__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    width: 540px;
    margin: auto;
    padding: 20px 0;
}

.footer__link_github{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: rgba(11, 85, 25, 1);
    text-decoration: none;
}

.footer__link_school{
    width: 90px;
}

.footer__date{
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: rgba(11, 85, 25, 1);
}